* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colorLight: White;
  --colorDark: black;
  --colorTheme: #f76c6c;
}
/*nouveau css*/
body {
  background-color: lightgoldenrodyellow;
  font-family: "Varela", sans-serif;
}
a {
  display: none;
}

header {
  background-color: var(--colorTheme);
  position: relative;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.356), 0 0 1rem rgba(0, 0, 0, 0.301);
  z-index: 3;
}
h1 {
  font-size: 1.6em;
  padding: 16px;
  display: flex;
  align-items: center;
  color: var(--colorLight);
}

/* BURGER MENU */

/* Style the navigation menu */
nav {
  overflow: hidden;
  background-color: var(--colorTheme);
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  background-color: #e26464;
  width: 100%;
  height: 151px;
  position: absolute;
  transform: translateY(0);
  top: -151px;
  left: 0;
  transition: all 0.3s ease-out;
  z-index: 1;
}
#myLinks.translate {
  transform: translateY(145%);
  transition: all 0.8s ease-out;
}

/* Style navigation menu links */
nav a {
  color: var(--colorLight);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  transition: 0.3s;
}

/* Style the hamburger menu */
nav a.icon {
  background: var(--colorLight);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.fa {
  color: var(--colorLight);
  font-size: 40px;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}

.fa.rotate {
  transform: rotate(90deg);
}

#burgerButton {
  cursor: pointer;
  display: block;
  border: none;
  background: none;
  padding: 18px;
}

.content {
  margin-top: 0;
  width: 100%;
  height: 0px;
  transition: all 0.3s ease;
  z-index: 0;
}

.content.menu-open {
  height: 149px;
  transition: all 0.8s ease-out;
}

/* Add a grey background color on mouse-over */
nav ul a:hover {
  background-color: #ffffff;
  color: var(--colorTheme);
  transition: 0.3s;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: var(--colorLight);
}

/* BURGER MENU */
.mainIndex {
  width: 100%;
  padding: 16px;
}
.description p {
  text-align: center;
  margin-top: 70px;
  font-weight: bold;
  color: var(--colorDark);
}
.actu {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.actu h2 {
  background-color: var(--colorTheme);
  width: 40%;
  border-radius: 16px;
  padding: 8px;
  margin: auto;
}
.caroussel {
  text-align: center;
}
.lienwcs {
  display: none;
}
.imgWCS {
  margin-top: 36px;
  max-width: 60%;
  height: auto;
}
