* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colorLight: White;
  --colorDark: black;
  --colorTheme: #f76c6c;
}
/*nouveau css*/
body {
  background-color: lightgoldenrodyellow;
  font-family: "Varela", sans-serif;
}

header {
  background-color: var(--colorTheme);
  height: 70px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.356), 0 0 1rem rgba(0, 0, 0, 0.301);
}
h1 {
  font-size: 1.6em;
  padding: 16px;
  display: flex;
  align-items: center;
  color: var(--colorLight);
}

/* BURGER MENU */

/* Style the navigation menu */
nav {
  overflow: hidden;
  background-color: var(--colorTheme);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
nav #myLinks {
  display: none;
}

/* Style navigation menu links */
nav a {
  color: var(--colorLight);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
nav a.icon {
  background: var(--colorLight);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.fa {
  color: var(--colorLight);
}

/* Add a grey background color on mouse-over */
nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: (--colorLight);
}

/* BURGER MENU */
.mainIndex {
  width: 100%;
  padding: 16px;
}
.description p {
  text-align: center;
  margin-top: 70px;
  font-weight: bold;
  color: black;
}
.actu {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.actu h2 {
  background-color: var(--colorTheme);
  width: 40%;
  border-radius: 16px;
  padding: 8px;
  margin: auto;
}
.caroussel {
  text-align: center;
}
.lienwcs {
  display: none;
}
.imgWCS {
  margin-top: 36px;
  max-width: 60%;
  height: auto;
}
